<% content_for(:title, t('.title')) %>

<%# 検索フォーム %>
<div class="mt-4">
    <form>
        <%= render 'search_form', q: @q, url: spots_path %>
    </form>
</div>

<%# spotデータ(一覧表示) %>
<div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
    <div class="mt-4 mb-28">
        <% if @spots.present? %>
            <%= render @spots %>
            <%# ページネーション %>
            <%= paginate @spots %>
        <% else %>
            <%= t('.no_spot_data') %>
        <% end %>
    </div>
</div>


