<% content_for(:title, t('.title')) %>

<%# todo:中身後で変更 %>
<div class="card-body">
    <h2 class="card-title">自習室とコワーキングスペースの違い</h2>
    <li>自習室では会話がNG</li>
    <li>自習室では書籍などでの勉強がおすすめ</li>
    <li>コワーキングスペースではPC作業がおすすめ</li>
</div>