<% content_for(:title, t('.title')) %>

<%# todo:中身後で変更 %>
<div class="card-body">
    <h2 class="card-title">こんな人におすすめ</h2>
    <li>家以外で勉強してみたい方</li>
    <li>自分に合った勉強場所を探している方</li>
    <li>自習室やコワーキングスペースを<br>　 探している方</li>
</div>