<div class="flex flex-col justify-center items-center min-h-screen bg-purple-50 p-6">
    <h1 class="text-4xl font-bold text-blue-950">LearnLocater</h1>
    <p class="text-lg text-blue-950">勉強場所、探してみませんか？</p>
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">アプリ説明</h2>
            <p>自習室、カフェ、コワーキングスペース...</p>
            <p>家以外の勉強場所が乱立している現代。</p>
            <p>あなたの勉強場所探しをサポートします。</p>
        </div>
    </div>
    <div class="mt-6 flex space-x-10">
        <%= link_to "#", class: "btn btn-primary rounded" do %>
            探してみる
        <% end %>
    </div>
</div>