<% content_for(:title, t('.title')) %>

<%= render 'shared/title', title: t('.title') %>

<div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
    <div class="mt-4 mb-28">
        <%# 戻るボタン %>
        <%= link_to profile_path, class: "btn btn-sm btn-circle text-xs" do %>
            <%= image_tag 'page_back_mark.svg', class: "h-3 w-3" %>
        <% end %>

        <div class="mt-6">

        </div>
    </div>
</div>