<div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
    <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-sm btn-circle text-xs">
            <%= image_tag 'sort_mark.svg', class: "h-4 w-4" %>
        </div>
        <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">
            <li>
                <%= sort_link(q, :created_at, t('sort_link.sorted_by_review_created_at'), { default_order: :desc }, class: "btn btn-sm btn-block btn-ghost justify-start text-xs") %>
            </li>
            <li>
                <%= sort_link(q, :likes_count, t('sort_link.sorted_by_review_likes_count'), { default_order: :desc }, class: "btn btn-sm btn-block btn-ghost justify-start text-xs") %>
            </li>
        </ul>
    </div>
</div>